<<<<<<< HEAD
<h1>Sample App</h1>
<p>
  This is the home page for the
  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>
=======
<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
>>>>>>> 0a60c1a5343b6bf6381ba3ff4dc6000bee706ea9
